# ----------------
# Python artifacts
# ----------------
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Packaging / build
build/
dist/
*.egg-info/
.eggs/

# Jupyter/IPython
.ipynb_checkpoints/
*.ipynb_checkpoints

# Logs & caches
*.log
*.tmp
.cache/
.mypy_cache/
.pytest_cache/
coverage.xml
htmlcov/
.coverage*

# ----------------
# C++ artifacts
# ----------------
# Object & binary files
*.o
*.obj
*.lo
*.la
*.a
*.lib
*.so
*.so.*
*.dll
*.dylib
*.exe
*.out
*.app

# Build systems
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Autotools
autom4te.cache/
*.in~
configure
config.log
config.status

# Meson
meson-private/
meson-logs/
meson-info/

# ----------------
# IDE/editor noise
# ----------------
.vscode/
.idea/
*.swp
*.swo
*~

# ----------------
# OS files
# ----------------
.DS_Store
Thumbs.db

# ----------------
# Exceptions
# ----------------

!robot_kinematics*.so
!robot_kinematics*

# ----------------
# AR4 specific files to exclude
# ----------------
ErrorLog
ARbot.cal
ARconfig.json
ARbot.cal.bak
custom.json

ARrobots/build/
